<!-- login.component.html -->
<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="login-inputs-container">
        <button class="back-button" (click)="backToHome()">&#8592;</button>
        <h1 class="logo">Hotel Booking</h1>
        <h3 class="login-title">Login</h3>
        <p class="login-description">
          Login to access your account
        </p>
        <section class="input-container">
          <input type="email" placeholder="E-mail" formControlName="email" />
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <span class="error-message">{{
            loginForm.get('errorMessage')?.value
          }}</span>
        </section>
       
        <div class="button-container">
          <button class="login-button">Login</button>
          <p>
            Don't have an account?
            <a href="" routerLink="/sign-up" class="login-to-signup"
              >Sign up</a
            >
          </p>
         
        </div>
      </div>
    </form>
    <div class="login-image"></div>
  </div>
  